.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table h2 {
    margin-bottom: 20px;
}

.user-table table {
    width: 100%;
    border: 1px solid #ccc;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ccc;
}

.user-table button {
    padding: 5px 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #1872c0;
}

.user-table button:hover {
    background-color: #248eeb;
}
